<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>General</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>true</string>
		<key>Key</key>
		<string>optionUseNotifications</string>
		<key>Title</key>
		<string>Show now playing notifications for all supported websites</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>false</string>
		<key>Key</key>
		<string>optionUnrecognizedNotifications</string>
		<key>Title</key>
		<string>Show notification if track is not recognized by the extension</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>true</string>
		<key>Key</key>
		<string>optionForceRecognize</string>
		<key>Title</key>
		<string>Force recognition of unknown tracks</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>false</string>
		<key>Key</key>
		<string>optionDisableGa</string>
		<key>Title</key>
		<string>Disable sending data to Google Analytics</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Google Music</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>true</string>
		<key>Key</key>
		<string>optionGmPodcasts</string>
		<key>Title</key>
		<string>Scrobble podcasts on Google Music</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>YouTube</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>true</string>
		<key>Key</key>
		<string>optionYtMusicOnly</string>
		<key>Title</key>
		<string>Scrobble videos from "Music" category</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>true</string>
		<key>Key</key>
		<string>optionYtEntertainmentOnly</string>
		<key>Title</key>
		<string>Scrobble videos from "Entertainment" category</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
